/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

a {

    &:visited,
    &:focus,
    &:hover { text-decoration: none; }
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.page-header {
    margin: 30px 0 20px;
    text-align: center;
    color: $brand-primary;
}


.navbar-inverse {
    background-color: darken($brand-primary, 20%);
    border-color: darken($brand-primary, 22%);

    background-image: url(../img/vagrant-and-wordpress.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 160px;

    .navbar-brand {
        color: darken($brand-success, 30%);
        &:hover {
            color: $brand-success;
        }
    }
}


.btn {
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
}
.btn.btn-inline {
    background-color: transparent;
    border-color: transparent;
    color: darken($color-dgray, 10%);
    &:hover {
        // background-color: $brand-primary;
        border-color: darken($color-dgray, 2%);
        color: darken($color-dgray, 45%);
    }
}


/*
 * Main content
 */

.content_container {
    position: relative;
    z-index: $zindex-content-container;
    &.introjs-fixParent{
        position: relative!important;
    }
}

.main {

    padding: 20px;

    -webkit-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
       -moz-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
        -ms-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
         -o-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
            transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);

    &.full {
        width: 100%!important;
        margin: 0!important;
    }

    .page-header {
        margin-top: 0;
    }
}
.list-unstyled {
    li {
        padding:               7px 0;
        border-radius:         5px;
        -moz-border-radius:    5px;
        -webkit-border-radius: 5px;
        &:hover {

        }
    }
    &.compact {
        max-height: 86px;
        overflow: scroll;
        margin-top: 6px;
        margin-bottom: 0;
        display: block;
        position: relative;
        padding: 5px 8px;
        border: 1px solid #f0f0f0;
        border-radius: 3px;
        box-shadow: inset 0 -1px 7px -6px #2a2a2a;
        li {
            font-size: .8em;
            color: #787878;
            padding: 0;
            &:before {
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                display: inline-block;
                content: '\f0da';
                margin-right: 3px;
            }
        }
    }
}
.list-unstyled
.popover-content .list-unstyled {
    margin-bottom: 0;
}

.sites {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}





/*
 * Search
 */

.search-box {
    position: relative;
    display: block;
    margin: 14px 0 24px;

    .search-icon {
        position: absolute;
        left: 6px;
        top: 2px;
        font-size: 22px;
        color: #eee;
    }
    .search-badge {
        position: absolute;
        right: 6px;
        top: 2px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 100;
        background: none;
        color: $brand-primary;
        .fa {
            margin-right: 4px;
        }
    }
    .search-input {
        width: 100%;
        line-height: 36px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 24px;
        font-weight: 100;
        padding-left: 36px;
        padding-right: 56px;
        color: $brand-primary;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            border-color: $brand-primary;
        }
    }
}
.sites tr.highlight {
    background: transparentize($brand-success, .8)!important;

    .highlight {
        background: yellow;
        padding:    3px;
    }
}



.card-container {
    min-height: 400px;
}



.site-card {
    position: relative;
    padding: 8px;
    background: #fcfcfc;
    border: 1px solid #cce;
    margin-bottom: 12px;
    min-height: 80px;

    .lock {
        float: left;
        line-height: 55px;
        margin: 0 12px 0 6px;
    }

    .options-tab {
        padding: 8px;
    }
    .options-label {
        float: right;
        &.enabled {
            background-color: mix($brand-primary, #fff, 25%);
            color: $brand-primary;
        }
    }


    .btn-lock {
        border: 1px solid #ececec;
        background: transparent;
        border-radius: 50%;
        font-size: 23px;
        line-height: 28px;
        height: 35px;
        width: 35px;
        text-align: center;
        color: #cce;

        &:hover {
            color: lighten($brand-primary, 15%);
        }
        &:focus,
        &:active {
            outline: none;
        }
        &:active {
            color: $brand-primary;
        }
    }

    .title {
        text-align: left;
        font-weight: 300;
        display: inline-block;
        border-bottom: 1px dotted #eee;
        padding-bottom: 2px;
        margin: 6px auto 9px;
    }


    .list-inline {
        font-size: .9em;
        .fa {
            font-size: 1.3em;
            top: 2px;
            position: relative;
        }
        li {
            padding-left: 8px;
            padding-right: 8px;
            border-right: 1px solid #f0f0f0;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}



/*
 * Sidebar
 */

 .sidebar {
    position: relative;
    -webkit-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
       -moz-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
        -ms-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
         -o-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
            transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);

    &.open {
        .open { display: none; }
        .close { display: block; }
    }
    &.closed {
        overflow: hidden;
        -webkit-transform: translateX(-90%);
           -moz-transform: translateX(-90%);
            -ms-transform: translateX(-90%);
             -o-transform: translateX(-90%);
                transform: translateX(-90%);
        .close { display: none; }
        .open { display: block; }
    }
}
.sidebar-controls {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1em;
    width: 100%;
    text-align: right;
    padding: 2px 8px;
    background-color: darken($color-lgray, 5%);
}


.sidebar-title {
    // margin:         10px;
    font-size:      20px;
    font-weight:    bold;
    padding-bottom: 10px;
    border-bottom:  1px solid #eee;
    a {
        display: block;
        color: $color-black;

        &:hover {
            color: lighten($color-black, 14%);
        }

    }
}



/*
 * IntroJs Overrides
 */
.introjs-helperNumberLayer {
    line-height: 12px;
}

// .sidebar.introjs-fixParent {
//     top: 0;
// }


/*
 * Footer
 */
.footer {
    position: relative;
    z-index: $zindex-footer;
    background: $color-lgray;
    border-top: 1px solid darken($color-lgray, 10%);

    padding: 0 8px;
    height: 34px;
    line-height: 32px;

    .disclaimer {
        font-style: italic;
        font-size: .8em;
    }
    .info {
        float: right;
    }
}