/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

a {

    &:visited,
    &:focus,
    &:hover { text-decoration: none; }
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.page-header {
    color: $brand-primary;
}


.navbar-inverse {
    background: darken($brand-primary, 20%);
    border-color: darken($brand-primary, 22%);

    .navbar-brand {
        color: darken($brand-success, 30%);
        &:hover {
            color: $brand-success;
        }
    }
}

/*
 * Main content
 */

.content_container {
    position: relative;
    z-index: $zindex-content-container;
}

.main {
    background-image: url(../img/vagrant-and-wordpress.png);
    background-position: top right;
    background-repeat: no-repeat;

    padding: 20px;

    -webkit-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
       -moz-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
        -ms-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
         -o-transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);
            transition: all .35s cubic-bezier(0.9, -0.21, 0.12, 1.2);

    &.full {
        width: 100%!important;
        margin: 0!important;
    }

    .page-header {
        margin-top: 0;
    }
}

.list-unstyled li {
    padding:               7px 0;
    border-radius:         5px;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    &:hover {
        background: #ded;
    }
}

.sites {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*
 * Search
 */

.search-box {
    margin: 6px 0 10px;
    position: relative;
    width: 100%;

    .search-input {
        // border: none;
        // border-bottom: 1px solid $brand-primary;
        // padding: 4px;
        &:focus,
        &:active,
        &:hover {
            outline: none;
        }
    }
}
.sites tr.highlight {
    background: transparentize($brand-success, .8)!important;

    .highlight {
        background: yellow;
        padding:    3px;
    }
}




/*
 * Sidebar
 */

 .sidebar {
    position: relative;
    -webkit-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
       -moz-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
        -ms-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
         -o-transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);
            transition: all .25s cubic-bezier(0.9, -0.20, 0.12, 1.25);

    &.open {
        .open { display: none; }
        .close { display: block; }
    }
    &.closed {
        overflow: hidden;
        -webkit-transform: translateX(-90%);
           -moz-transform: translateX(-90%);
            -ms-transform: translateX(-90%);
             -o-transform: translateX(-90%);
                transform: translateX(-90%);
        .close { display: none; }
        .open { display: block; }
    }
}
.sidebar-controls {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1em;
    width: 100%;
    text-align: right;
    padding: 2px 8px;
    background-color: darken($color-lgray, 5%);
}


.sidebar-title {
    // margin:         10px;
    font-size:      20px;
    font-weight:    bold;
    padding-bottom: 10px;
    border-bottom:  1px solid #eee;
    a {
        display: block;
        color: $color-black;

        &:hover {
            color: lighten($color-black, 14%);
        }

    }
}





/*
 * Footer
 */
.footer {
    position: relative;
    z-index: $zindex-footer;
    background: $color-lgray;
    border-top: 1px solid darken($color-lgray, 10%);

    padding: 0 8px;
    height: 34px;
    line-height: 32px;

    .disclaimer {
        font-style: italic;
        font-size: .8em;
    }
    .info {
        float: right;
    }
}