

@media (max-width: 768px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        position: relative;
    }
}

@media (min-width: 768px) {

    .sidebar {
        position:         fixed;
        top:              51px;
        bottom:           0;
        left:             0;
        z-index:          1000;
        display:          block;
        padding:          20px;
        overflow-x:       hidden;
        overflow-y:       auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: $color-lgray;
        border-right:     1px solid darken($color-lgray, 10%);
    }

    .main {
        padding-right: 40px;
        padding-left:  40px;
    }
}